.wrapper {
    color: var(--primary);
    height: 6.4rem;
    border-bottom: 2px solid gray;
    justify-content: center;
    display: flex;
}
.main {
    display: flex;
    align-items: center;
    width: var(--width-basic);
}
.logo {
    width: 20%;
    display: flex;
    align-items: center;

    .icon_home {
        display: flex;
    }
    img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }
}
.search {
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;

    .search_main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}
.icon_header {
    color: black;
}
.icon {
    display: flex;
    width: 10%;
}
.cart {
    font-size: 2.2rem;
    color: black;
    position: relative;
    margin-right: 24px;

    .number {
        position: absolute;
        top: -5px;
        right: -11px;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        background-color: var(--primary);
        text-align: center;
        color: white;
        user-select: none;
    }
}
.truck {
    color: black;
    font-size: 2.2rem;
}
.cart:hover,
.truck:hover {
    opacity: 0.6;
}
.input_header {
    width: 80%;
    input {
        padding: 12px;
        padding-left: 16px;
        border: 2px solid gray;
        outline: none;
        border-right: none;
        font-size: 1.8rem;
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
        width: 100%;
    }
}

.search_btn {
    color: gray;
    font-size: 2rem;
    height: 4.8rem;
    border: 2px solid gray;
    border-top-right-radius: 26px;
    border-left: 0.5px solid gray;
    border-bottom-right-radius: 26px;
    line-height: 47px;
    width: 15%;
    background-color: #f8f8f8;
    text-align: center;
}
.search_btn:hover {
    background-color: #c6c6c6;
}
.user {
    color: black;
    font-size: 1.8rem;
    width: 30%;
    position: relative;
    .user_main {
        float: right;
        display: flex;
        user-select: none;
    }
    label {
        margin-left: 8px;
    }
}

.logout {
    background: var(--primary);
    position: absolute;
    top: 46px;
    right: -25px;
    width: 50%;
    user-select: none;
    z-index: 100;
    border: 1px solid #ddd;
}
.logout_item {
    &:hover {
        background: var(--primarytwo);
    }
    display: flex;
    align-items: center;
    p {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        padding: 4px 0 4px 8px;
    }
}

.btn_header {
    width: 30%;
    .btn_main {
        float: right;
        min-width: 16rem;
        overflow: auto;
        display: flex;
    }
}
.listproduct {
    width: 86%;
    height: 300px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 57px;
    left: 9px;
    border: 2px solid #ddd;
    border-top: none;
    border-right: none;
}
.listproduct_main {
}

@media (max-width: 1120px) {
    .btn_header,
    .user {
        width: 45%;
    }
    .logo {
        width: 15%;
    }
}
@media (max-width: 700px) {
    .btn_header,
    .user {
        display: none;
    }
    .logo {
        width: 20%;
    }
    .search {
        width: 50%;
    }
    .search_btn {
        font-size: 1.6rem;
    }
}
@media (max-width: 360px) {
    .search {
        display: none;
    }
    .logo {
        width: 50%;
    }
}
