.wrapper {
    width: 280px;
    background-color: white;
    box-shadow: 0 4px 6px #faf5f529;
    border-radius: var(--border-task);
    margin: 0 2px 32px 0;
    user-select: none;
}
.main {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 100%;
    height: 100%;
}
.name {
    &:hover {
        color: var(--primary);
    }
}
.name,
label,
.memory {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}
.label {
}
.memory {
    margin-left: 4px;
    text-align: center;
}
.price {
    font-size: 2.2rem;
    font-weight: 700;
    color: red;
}
