@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

:root {
    --primary: rgb(247, 83, 110);
    --layout-width: 1150px;
    --layout-height: 60px;
    --border-task: 8px;
    --primarytwo: rgb(53, 196, 196);
    --width-basic: 80%;
    --primarybackground: transparent linear-gradient(180deg, #ed467b 0%, rgb(253, 20, 59) 100%) 0% 0% no-repeat
        padding-box;
    --primarybackgroundtwo: transparent linear-gradient(180deg, #033cef 0%, #08a6d2 100%) 0% 0% no-repeat padding-box;
    --backgroundcolor: #f4f4f4;
    --marginad: 64px;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
