.wrapper {
    width: 70%;
}
.main {
}
.header {
    width: 100%;
    border-bottom: 2px solid var(--primary);
    margin-top: var(--marginad);
    position: relative;
}
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    p {
        font-size: 2.4rem;
        font-weight: 700;
    }
}
.add_account_main {
    margin: 16px;
}
.add_account {
    width: 100%;

    border: 1px solid var(--primary);
    z-index: 1;
    position: absolute;
    top: 58px;
    background-color: white;
    border-bottom-left-radius: var(--border-task);
    border-bottom-right-radius: var(--border-task);
    border-top: none;
}
.add_account_main {
    display: flex;
    flex-wrap: wrap;
}
.add_item {
    margin: 16px 32px 0 0;
    p {
        font-size: 1.8rem;
        margin-bottom: 4px;
    }
    input {
        font-size: 1.6rem;
        padding: 8px 0 8px 8px;
        border-radius: 4px;
        border: 2px solid gray;
    }
}
.button {
    display: flex;
    margin: 16px 0 32px 16px;
}
.accept {
    width: 18%;
    margin-right: 8px;
}
.accept2 {
    width: 10%;
}
.add {
    width: 30%;
}
.container_main {
    margin-top: 16px;
}
.container_header_main {
    display: flex;
    justify-content: space-between;
}
.account_item {
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;

    p {
        font-size: 2.4rem;
        font-weight: 700;
    }
}
.name {
    width: 40%;
}
.password {
    width: 30%;
}
.role {
    width: 20%;
}
.edit {
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: var(--primary);
    color: white;
    padding: 0px 8px 0px 8px;
    border-radius: var(--border-task);
    user-select: none;
    margin: 16px 8px 16px 0;
    p {
        margin-left: 8px;
        padding: 0;
    }
    &:hover {
        background-color: var(--primarytwo);
    }
}
