.footer {
    width: 100%;

    display: flex;
    color: white;
    background: var(--backgroundcolor);
}
.footer_main {
    width: var(--width-basic);
    margin: 0 auto;
    background: var(--primarybackgroundtwo);
    border-radius: 8px;
    color: white;
}
.footer_front {
    display: flex;
    justify-content: space-between;
}
.footer_support {
    width: 200px;
    margin: 20px;
}
.footer_support h4 {
    font-size: 18px;
    margin: 12px 0px;
}
.footer_support ul {
    list-style: none;
    line-height: 2rem;
}
.footer_support li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.thanhtoan ul {
    display: flex;
    flex-wrap: wrap;
}
.thanhtoan ul a {
    margin-right: 8px;
    font-size: 20px;
}
.thanhtoan h4 {
    margin-bottom: 12px;
}
.sdt:hover,
.thanhtoan img:hover {
    opacity: 0.8;
}
.sdt {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    display: block;
    width: 128px;
}
.footer_bottom {
    text-align: center;
    font-size: 16px;
    margin: 32px 0;
    line-height: 2rem;
}
@media (max-width: 700px) {
    .footer_front {
        flex-wrap: wrap;
    }
}
