.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}
.task {
    background: transparent linear-gradient(180deg, #ed467b 0%, rgb(253, 20, 59) 100%) 0% 0% no-repeat padding-box;
    display: flex;
    margin-top: 32px;
    border-radius: var(--border-task);
    width: var(--width-basic);
    flex-wrap: wrap;
    justify-content: center;
}
.background {
    background-color: var(--primarytwo);
}
.main {
}
