.wrapper {
}

.slider {
    width: var(--width-basic);
    margin: auto;
    border-radius: var(--border-task);
}
.test {
    background-color: black;
    height: 200px;
}
.item {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    .item_main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: var(--width-basic);
    }
}
